@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

.box-shadow {
  box-shadow: 5px 5px;
}

.animate-spin-slow {
  animation: spin 300s linear infinite;
}

/* This file is for your main application CSS */
